/* Normalize first */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
/*  Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Martel+Sans:wght@200&family=Martel:wght@400;700&family=Taviraj:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/*
	FontAwesome icon font http://fontawesome.io/
	FIXME: This is still used by the imageView control panel, the rest of the app uses FA5 react npm module
*/
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
* {
  box-sizing: border-box; }

div {
  width: auto; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.warning {
  color: yellow; }

.fa {
  width: 1.5rem;
  padding: 0.2rem 0.1rem 0.1rem;
  text-align: center; }

.fa.active {
  background-color: #9e9e9e0a;
  border: 0.2rem solid #FF9800; }

.fa-book.active {
  border-radius: 0 2rem 2rem 0; }

.fa:not(.active) {
  color: grey; }

.fa.fa-lock,
.fa.fa-lock-open {
  border-radius: 2rem 0 0 2rem; }

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; }
  .line-clamp.two-lines {
    -webkit-line-clamp: 2; }

.flex-parent {
  display: flex; }
  .flex-parent.half-width {
    width: 50%; }
  .flex-parent.full-width {
    width: 100%; }
  .flex-parent.column {
    flex-direction: column; }
  .flex-parent.jc-start {
    justify-content: flex-start; }
  .flex-parent.jc-center {
    justify-content: center; }
  .flex-parent.jc-end {
    justify-content: flex-end; }
  .flex-parent.jc-space-btw {
    justify-content: space-between; }
  .flex-parent.jc-space-around {
    justify-content: space-around; }
  .flex-parent.ai-start {
    align-items: flex-start; }
  .flex-parent.ai-center {
    align-items: center; }
  .flex-parent.ai-end {
    align-items: flex-end; }
  .flex-parent.wrap {
    flex-wrap: wrap; }
  .flex-parent.row-reverse {
    flex-direction: row-reverse; }
  .flex-parent.column-reverse {
    flex-direction: column-reverse; }
  .flex-parent .flex-1 {
    flex: 1; }
  .flex-parent .flex-2 {
    flex: 2; }
  .flex-parent .flex-3 {
    flex: 3; }
  .flex-parent .flex-4 {
    flex: 4; }
  .flex-parent .flex-5 {
    flex: 5; }
  .flex-parent .flex-6 {
    flex: 6; }
  .flex-parent .flex-7 {
    flex: 7; }
  .flex-parent .flex-8 {
    flex: 8; }
  .flex-parent .flex-9 {
    flex: 9; }
  .flex-parent .flex-10 {
    flex: 10; }
  .flex-parent .flex-11 {
    flex: 11; }
  .flex-parent .flex-12 {
    flex: 12; }

.bg-maroon-gradient {
  background-image: linear-gradient(to right, #792421, #66211c, #531d17, #411912, #30140d); }

.bg-dark-gradient-bt {
  background-image: linear-gradient(to bottom, #f2e6d9, #e6e0c1, #e4d2a5); }

.bg-dark-gradient-tb {
  background-image: linear-gradient(to bottom, #e4d2a5, #e6e0c1, #f2e6d9); }

.bg-light-gradient-bt {
  background-image: linear-gradient(to bottom, #fefcfb, #f0eddb, #ede2c4); }

.bg-light-gradient-tb {
  background-image: linear-gradient(to bottom, #ede2c4, #f0eddb, #fefcfb); }

.text-bg-gradient-dark-bt {
  background-image: linear-gradient(to bottom, rgba(242, 230, 217, 0.9), rgba(230, 224, 193, 0.9), rgba(228, 210, 165, 0.9)), url("../img/text-bg.png");
  background-size: cover; }

.text-bg-gradient-light-tb {
  background-image: linear-gradient(to bottom, rgba(228, 210, 165, 0.9), rgba(230, 224, 193, 0.9), rgba(242, 230, 217, 0.9)), url("../img/text-bg.png");
  background-size: cover; }

.accent-bar {
  height: 10px;
  width: 100%; }

.invisible {
  opacity: 0; }

.disabled {
  opacity: 0.5; }

.figure-dialog-img-container img {
  display: block;
  width: 100%;
  height: auto; }

a:hover {
  text-decoration: underline; }

a {
  color: #792421;
  text-decoration: none; }

@-webkit-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@-moz-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@-ms-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@-o-keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

@keyframes slide-down {
  0% {
    height: 2px;
    bottom: -5px; }
  100% {
    height: 6px;
    bottom: -9px; } }

#globalNavigation {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 0.9rem;
  position: relative;
  top: -4rem;
  right: 2rem;
  float: right; }
  @media (min-width: 960px) {
    #globalNavigation {
      display: block; } }

#globalNavigation .expandedViewOnly span, #globalNavigation .expandedViewOnly a {
  color: white;
  margin-left: 1rem;
  cursor: pointer; }

#globalNavigation span .francais {
  font-weight: 100; }

#globalNavigation input {
  height: 1.5rem;
  padding: 0 0 0 0.5rem;
  font-style: italic;
  border: 1px solid #00000063;
  color: #756c6c;
  background-color: #D8D8D8; }

#loadingStateModal {
  position: fixed;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100vw;
  height: 100vh; }

.spinner {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (1rem/2)) auto 0 auto;
  text-align: center; }

.spinner > div {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

figure {
  padding: 0.3rem 0 0;
  border-radius: 0.2rem;
  margin: 0;
  text-align: center; }

figure.current {
  background-color: rgba(7, 122, 255, 0.831); }

.thumbnail-caption.current {
  color: rgba(7, 122, 255, 0.831) !important;
  font-weight: 900; }

.watermark {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (10rem/2)) auto 0 auto; }

.transcriptContent .watermark {
  margin: calc(50vh - (25rem/2)) auto 0 auto; }

.watermark_contents {
  width: 10rem;
  height: 10rem;
  background-image: url("../img/lizard-no-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto auto auto auto; }

.navigationComponent {
  position: fixed;
  z-index: 2;
  height: 48px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px;
  top: 75px;
  background-color: white;
  border-radius: 0.3rem; }
  .navigationComponent #tool-bar-buttons {
    font-size: 15px; }
  @media (min-width: 600px) {
    .navigationComponent {
      top: 80px; } }
  @media (min-width: 960px) {
    .navigationComponent {
      top: initial; } }
  .navigationComponent button {
    cursor: pointer; }

.navigationRow {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px 12px 10px; }

.helpIcon {
  display: none;
  margin-top: 6px;
  margin-right: 16px; }
  @media (min-width: 960px) {
    .helpIcon {
      display: block; } }

.dropdownV2 {
  width: 150px;
  margin-right: 10px; }

.imageViewComponent .navigationComponent {
  background-color: #4A4A4A;
  border-radius: 0.3rem;
  opacity: 0.8; }
  @media (min-width: 960px) {
    .imageViewComponent .navigationComponent {
      background-color: black;
      color: #ffffff;
      border-radius: 0;
      opacity: 1; } }

.transcriptionViewComponent .navigationComponent {
  background-color: white;
  color: #000000; }

#doc-type-help:after {
  color: #978e8e; }

#doc-type-help .dark .MuiSvgIcon-root.MuiSelect-icon {
  color: white; }

.breadcrumbs {
  overflow: hidden;
  display: none; }
  @media (min-width: 960px) {
    .breadcrumbs {
      display: block; } }

.breadcrumbs .folioName {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  text-decoration: underline; }

.closeX {
  float: right;
  padding: 3px;
  font-style: bold; }
  .closeX:hover {
    cursor: pointer; }

.helpContainer {
  padding: 12px;
  width: 335px;
  height: 740px; }
  .helpContainer .readingGuide td {
    padding: 8px; }
  .helpContainer .readingGuide h2 {
    margin-top: 16px;
    margin-bottom: 10px; }

.searchHelpContainer {
  padding: 10px 15px 10px 0;
  width: 335px; }

.helpHeader {
  text-align: center; }

.paginationComponent {
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 52px; }
  @media (min-width: 960px) {
    .paginationComponent {
      margin-bottom: 0; } }

.paginationControl {
  padding: 16px; }

.paginationControl .arrow {
  font-size: 1.8rem;
  color: #4A4A4A;
  margin: 1rem 1rem 0;
  cursor: pointer; }

.paginationControl .folioName {
  position: relative;
  top: -.2rem;
  color: #4A4A4A; }

#annotation-view.view-mode {
  margin: 40px 10% 40px 10%;
  max-width: 960px; }
  @media (min-width: 960px) {
    #annotation-view.view-mode {
      margin: 80px 20% 80px 20%; } }

#annotation-view.search-mode {
  overflow: scroll;
  padding: 80px 20px 120px 20px;
  width: calc(100% - 2.5rem);
  height: calc(100vh); }

#annotation-view p {
  margin: 0px;
  text-indent: 50px;
  line-height: 1.5; }

#annotation-view a {
  word-wrap: break-word; }

#annotation-view h1 {
  text-align: center;
  line-height: 2.5em;
  line-height: 1.5em; }

#annotation-view h2 {
  font-size: 1.6em;
  margin-top: 40px;
  line-height: 1.7em; }

#annotation-view h3 {
  font-size: 1.1em;
  line-height: 1em;
  margin-top: 1.5em; }

#annotation-view h4 {
  margin-bottom: 30px; }

#annotation-view h2 + p {
  text-indent: 0px; }

#annotation-view h3 + p {
  text-indent: 0px; }

#annotation-view h4 + p {
  text-indent: 0px; }

#annotation-view .pull-left {
  text-indent: 0px; }

#annotation-view i .underline {
  font-style: normal; }

#annotation-view i u {
  font-style: normal; }

#annotation-view .underline {
  text-decoration: underline; }

#annotation-view .annotation-nav {
  position: absolute;
  top: 140px;
  left: 10px; }
  #annotation-view .annotation-nav i {
    color: #333; }

#annotation-view .title-byline-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #annotation-view .title-byline-container span {
    color: #000000b8;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    padding: 0;
    margin: 0 0 0.3rem;
    line-height: 1.5rem; }
    #annotation-view .title-byline-container span:hover {
      cursor: default; }

#annotation-view .anno-byline {
  text-align: center;
  margin-bottom: 30px; }
  #annotation-view .anno-byline p {
    text-indent: 0px;
    margin-bottom: 20px; }

#annotation-view .header-section {
  border: 1px dashed #b3b2b2;
  padding: 1rem;
  margin-bottom: 30px; }
  #annotation-view .header-section h2 {
    font-size: 1em;
    margin-top: 0px; }
  #annotation-view .header-section div {
    line-height: 1em; }
  #annotation-view .header-section p {
    text-indent: 0px;
    line-height: 1.25; }

#annotation-view .footnote-ref, #annotation-view .footnote-back {
  color: blue;
  text-decoration: underline blue; }

#annotation-view blockquote {
  margin-inline-start: 25px; }
  #annotation-view blockquote p {
    text-indent: 0px;
    line-height: 1.1; }

#annotation-view .figure-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px; }

#annotation-view figure {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%; }
  #annotation-view figure .video-iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    #annotation-view figure .video-iframe-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      height: 100%;
      border: 1px solid #DDDDDD; }
  #annotation-view figure .figure-image-container {
    padding-right: 30px; }
  #annotation-view figure img {
    width: 300px;
    border: 1px solid #DDDDDD; }
  #annotation-view figure figcaption {
    line-height: 1.2;
    font-size: 10pt;
    text-align: left;
    max-width: 100%; }
  #annotation-view figure div + figcaption {
    width: 300px; }
  #annotation-view figure .video-iframe-wrapper + figcaption {
    width: 560px; }

#annotation-view li {
  margin-bottom: 15px; }
  #annotation-view li p {
    text-indent: 0px; }
  #annotation-view li blockquote {
    margin: 0; }
    #annotation-view li blockquote p {
      line-height: 1.5em;
      margin-bottom: 0; }

#annotation-view ul ul {
  padding-inline-start: 30px; }

#annotation-view ol ol {
  padding-inline-start: 30px; }

#annotation-view table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  #annotation-view table td, #annotation-view table th {
    border: 1px solid #AAAAAA;
    padding: 5px;
    line-height: 1.2;
    vertical-align: top;
    min-width: 85px; }
  #annotation-view table tr:nth-child(even) {
    background-color: #f2f2f2; }
  #annotation-view table th {
    padding-left: 5px;
    background: #838383;
    font-size: 15px;
    color: white; }
  #annotation-view table p {
    text-indent: 0px; }

#annotation-view .footnotes p {
  line-height: 1; }

#annotation-view .bibliography p {
  text-indent: 0px;
  line-height: 1;
  margin-top: 15px; }

#annotation-list-view .section-title {
  font-size: 22px;
  font-weight: 400; }

#annotation-list-view .annothumb {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 225px;
  min-width: 225px; }
  #annotation-list-view .annothumb .thumb-media {
    height: 200px;
    display: flex;
    align-items: flex-end; }
    #annotation-list-view .annothumb .thumb-media .title {
      background: #792421;
      width: 100%;
      padding: 8px;
      color: white; }

#featured-essays-panel #essay-card-container .annotation-card.MuiPaper-rounded, #annotation-list-view .annotation-card.MuiPaper-rounded {
  border-radius: 0px;
  height: 550px;
  position: relative;
  width: 350px;
  margin-bottom: 25px; }
  @media (min-width: 600px) {
    #featured-essays-panel #essay-card-container .annotation-card.MuiPaper-rounded, #annotation-list-view .annotation-card.MuiPaper-rounded {
      margin-bottom: 65px; } }

#featured-essays-panel #essay-card-container .annotation-card.MuiPaper-rounded.expanded, #annotation-list-view .annotation-card.MuiPaper-rounded.expanded {
  height: 100%; }

#featured-essays-panel #essay-card-container .annotation-card .card-lr-padding, #annotation-list-view .annotation-card .card-lr-padding {
  padding-left: 25px;
  padding-right: 25px; }

#featured-essays-panel #essay-card-container .annotation-card .theme-title-container, #annotation-list-view .annotation-card .theme-title-container {
  padding-top: 20px; }
  #featured-essays-panel #essay-card-container .annotation-card .theme-title-container p, #featured-essays-panel #essay-card-container .annotation-card .theme-title-container span, #annotation-list-view .annotation-card .theme-title-container p, #annotation-list-view .annotation-card .theme-title-container span {
    padding-bottom: 0px; }

#featured-essays-panel #essay-card-container .annotation-card p.anno-theme, #annotation-list-view .annotation-card p.anno-theme {
  font-size: 12px !important;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: #3B3B3B; }

#featured-essays-panel #essay-card-container .annotation-card p.anno-title, #annotation-list-view .annotation-card p.anno-title {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px !important;
  font-weight: 700; }
  #featured-essays-panel #essay-card-container .annotation-card p.anno-title i, #annotation-list-view .annotation-card p.anno-title i {
    margin-left: 0px !important; }

#featured-essays-panel #essay-card-container .annotation-card .anno-abstract, #annotation-list-view .annotation-card .anno-abstract {
  color: #858585;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Taviraj', serif !important;
  color: #444444; }

#featured-essays-panel #essay-card-container .annotation-card .abstract-container, #annotation-list-view .annotation-card .abstract-container {
  margin-bottom: 60px; }

#featured-essays-panel #essay-card-container .annotation-card .anno-byline, #annotation-list-view .annotation-card .anno-byline {
  margin-bottom: 15px; }

#featured-essays-panel #essay-card-container .annotation-card .expand-collapse-toggle, #annotation-list-view .annotation-card .expand-collapse-toggle {
  color: #792421;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold; }
  #featured-essays-panel #essay-card-container .annotation-card .expand-collapse-toggle:hover, #annotation-list-view .annotation-card .expand-collapse-toggle:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05); }

#featured-essays-panel #essay-card-container .annotation-card .read-essay-link, #annotation-list-view .annotation-card .read-essay-link {
  position: absolute;
  bottom: 20px;
  left: 25px;
  background-color: white;
  padding: 5px 10px 13px;
  border-radius: 4px; }

#entry-list-view {
  position: relative;
  margin: 40px 10% 40px 10%; }
  @media (min-width: 960px) {
    #entry-list-view {
      margin: 40px 2% 40px 2%; } }
  @media (min-width: 1280px) {
    #entry-list-view {
      margin: 40px 2% 40px 5%; } }
  @media (min-width: 960px) {
    #entry-list-view #list-header {
      width: 62%;
      margin-left: 38%;
      max-width: 900px; }
      #entry-list-view #list-header p {
        padding-right: 10px; } }
  @media (min-width: 1280px) {
    #entry-list-view #list-header {
      width: 70%;
      margin-left: 30%; } }
  #entry-list-view #list-header #entry-header {
    margin-bottom: 10px; }
  @media (min-width: 960px) {
    #entry-list-view .filter-bar {
      width: 33%;
      float: left;
      position: fixed;
      top: 100px;
      padding: 10px;
      max-height: 80%; } }
  @media (min-width: 1280px) {
    #entry-list-view .filter-bar {
      width: 25%; } }
  @media (min-width: 960px) {
    #entry-list-view .entries {
      width: 62%;
      margin-left: 38%;
      margin-bottom: 40px;
      max-width: 900px; } }
  @media (min-width: 1280px) {
    #entry-list-view .entries {
      width: 70%;
      margin-left: 30%; } }
  #entry-list-view .filterBy:first-of-type {
    margin-bottom: 20px; }
  #entry-list-view .filterBy h2 {
    margin-bottom: 10px !important;
    color: black; }
    @media (min-width: 960px) {
      #entry-list-view .filterBy h2 {
        color: white; } }
  #entry-list-view .entry {
    margin: 10px 13px 1px 2px; }
    #entry-list-view .entry .entry-chips {
      margin-top: 10px; }
    #entry-list-view .entry .entry-categories {
      display: flex;
      flex-wrap: wrap; }
      #entry-list-view .entry .entry-categories p {
        padding-top: 8px;
        padding-right: 8px; }
    #entry-list-view .entry .detail-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin-right: 30px; }
    @media (min-width: 0px) {
      #entry-list-view .entry .detail-header {
        display: flex;
        margin: 8px 0px;
        text-align: center; } }
    #entry-list-view .entry .detail-row {
      display: flex;
      flex-wrap: wrap;
      margin: 8px 0px; }
    #entry-list-view .entry .row-divider {
      width: 100%;
      height: 2px;
      background-color: gainsboro; }
    #entry-list-view .entry .chip-column {
      display: flex;
      align-items: center; }
      @media (min-width: 600px) {
        #entry-list-view .entry .chip-column {
          width: 35%; } }
    #entry-list-view .entry .reference-column {
      display: flex;
      align-items: center;
      margin: 10px 0 10px 10px; }
      @media (min-width: 600px) {
        #entry-list-view .entry .reference-column {
          width: 65%;
          margin: 0; } }
    #entry-list-view .entry .colapse-button {
      float: right;
      transform: rotate(180deg); }
  #entry-list-view .sort-container {
    display: flex;
    margin-bottom: 12px; }
    #entry-list-view .sort-container .sort-label {
      display: inline;
      margin: 16px 10px 0px 0px; }
    #entry-list-view .sort-container .sort-radio {
      color: #3f51b5; }
  #entry-list-view .tag-nav {
    margin-top: 30px; }
  #entry-list-view .tag-nav-item {
    margin: 3px; }

.not-found {
  padding: 20px; }

#content-view.not-Found {
  padding: 20px; }

#content-view #hero p, #content-view #about-panel p {
  line-height: 26px;
  font-size: 16px; }
  @media (min-width: 600px) {
    #content-view #hero p, #content-view #about-panel p {
      line-height: 26px;
      font-size: 16px; } }
  @media (min-width: 960px) {
    #content-view #hero p, #content-view #about-panel p {
      line-height: 28px;
      font-size: 18px; } }

#content-view #hero {
  width: 100%;
  position: relative;
  box-shadow: 0 5px 7px -2px grey; }
  #content-view #hero .hero-text {
    text-align: center; }
  #content-view #hero .hero-left {
    padding: 50px 20px; }
    @media (min-width: 960px) {
      #content-view #hero .hero-left {
        padding: 50px 30px 50px 100px; } }
    @media (min-width: 1280px) {
      #content-view #hero .hero-left {
        padding: 50px 30px 50px 160px; } }
  #content-view #hero .site-title-graphic {
    margin-bottom: 30px;
    align-self: center; }
  #content-view #hero .subtitle {
    margin-bottom: 30px; }
  #content-view #hero .subtext {
    margin-bottom: 60px; }
  #content-view #hero .mk-logo {
    margin-bottom: 40px;
    width: 80%;
    align-self: center; }

#content-view #about-panel {
  padding: 45px 15px; }
  @media (min-width: 600px) {
    #content-view #about-panel {
      padding: 45px 75px; } }
  @media (min-width: 960px) {
    #content-view #about-panel {
      padding: 45px 160px; } }
  #content-view #about-panel .about-left .about-image {
    height: 150px; }
    @media (min-width: 600px) {
      #content-view #about-panel .about-left .about-image {
        height: 300px; } }
    @media (min-width: 960px) {
      #content-view #about-panel .about-left .about-image {
        height: 500px; } }
  #content-view #about-panel .about-left .spine {
    margin-right: 5px; }
    @media (min-width: 600px) {
      #content-view #about-panel .about-left .spine {
        margin-right: 30px; } }
  #content-view #about-panel .about-right {
    padding-left: 10px; }
    @media (min-width: 600px) {
      #content-view #about-panel .about-right {
        padding-left: 30px; } }
    @media (min-width: 960px) {
      #content-view #about-panel .about-right {
        padding-left: 100px; } }
    #content-view #about-panel .about-right .title {
      margin-bottom: 10px;
      font-size: 14px; }
      @media (min-width: 600px) {
        #content-view #about-panel .about-right .title {
          font-size: 16px; } }
      @media (min-width: 960px) {
        #content-view #about-panel .about-right .title {
          font-size: 22px; } }
    #content-view #about-panel .about-right p {
      font-size: 14px; }
      @media (min-width: 600px) {
        #content-view #about-panel .about-right p {
          font-size: 16px; } }
      @media (min-width: 960px) {
        #content-view #about-panel .about-right p {
          font-size: 18px; } }
  #content-view #about-panel .links-container {
    margin-top: 30px;
    justify-content: space-around; }

#content-view #featured-essays-panel {
  padding: 30px 20px 100px; }
  @media (min-width: 600px) {
    #content-view #featured-essays-panel {
      padding: 50px 160px 160px; } }
  #content-view #featured-essays-panel #essay-card-container {
    justify-content: center; }
    @media (min-width: 960px) {
      #content-view #featured-essays-panel #essay-card-container {
        justify-content: space-between; } }
  #content-view #featured-essays-panel .title {
    margin-bottom: 20px;
    font-size: 16px;
    align-self: center; }
    @media (min-width: 600px) {
      #content-view #featured-essays-panel .title {
        font-size: 22px;
        margin-bottom: 35px; } }
    @media (min-width: 960px) {
      #content-view #featured-essays-panel .title {
        align-self: flex-start;
        margin-bottom: 50px; } }

#content-view .site-title-graphic {
  width: fit-content; }
  #content-view .site-title-graphic .lizard-logo {
    width: 50px;
    height: 50px; }
  #content-view .site-title-graphic .text {
    width: 400px; }

#content-view .video-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

#content-view .video-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#content-view .loading {
  margin-left: 40%; }

#diplomatic #content-page .mobile-nav-container {
  position: fixed;
  height: calc(100vh - 74px);
  width: 75vw;
  z-index: 1; }

#diplomatic #content-page .page-header {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 0;
  height: 83px; }
  @media (min-width: 600px) {
    #diplomatic #content-page .page-header {
      height: 132px; } }
  #diplomatic #content-page .page-header .heading-text {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    align-items: center; }
    @media (min-width: 600px) {
      #diplomatic #content-page .page-header .heading-text {
        margin-left: 80px;
        align-items: flex-start; } }
    @media (min-width: 960px) {
      #diplomatic #content-page .page-header .heading-text {
        margin-left: 160px; } }
    #diplomatic #content-page .page-header .heading-text .page-heading {
      font-weight: normal;
      font-size: 20px;
      text-align: center; }
      @media (min-width: 600px) {
        #diplomatic #content-page .page-header .heading-text .page-heading {
          font-size: 32px;
          text-align: left; } }
      #diplomatic #content-page .page-header .heading-text .page-heading span {
        color: gray;
        font-size: 16px; }
        @media (min-width: 600px) {
          #diplomatic #content-page .page-header .heading-text .page-heading span {
            font-size: 20px; } }
    #diplomatic #content-page .page-header .heading-text .sub-heading-link {
      font-size: 16px;
      font-family: "Taviraj", serif;
      margin-top: 10px;
      color: black;
      text-decoration: none; }
      @media (min-width: 600px) {
        #diplomatic #content-page .page-header .heading-text .sub-heading-link {
          font-size: 18px;
          margin-top: 20px; } }
      #diplomatic #content-page .page-header .heading-text .sub-heading-link:hover {
        color: #792421; }
  #diplomatic #content-page .page-header .image-container {
    width: 30%;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.75), black, black, black, black, black, black); }
    #diplomatic #content-page .page-header .image-container img {
      height: 100%; }

#diplomatic #content-page #content {
  padding: 30px; }
  #diplomatic #content-page #content #annotation-list-view p {
    padding-bottom: 0px; }
  #diplomatic #content-page #content img {
    max-width: 100%; }
  #diplomatic #content-page #content .side-menu-tab {
    width: 60px;
    height: 60px;
    border-radius: 0 50% 50% 0;
    padding-right: 15px;
    background-color: #CBA374;
    position: fixed;
    bottom: 30px;
    left: -1px;
    cursor: pointer; }

#diplomatic #content-page .nav-bg {
  position: fixed;
  top: 0;
  width: 300px;
  z-index: -1;
  height: 100%; }

#diplomatic #content-page #navbar {
  height: calc(100vh - 74px);
  top: 88px;
  padding: 30px 20px 20px;
  overflow: auto; }
  @media (min-width: 600px) {
    #diplomatic #content-page #navbar {
      height: calc(100vh - 90px);
      top: 88px;
      width: 300px;
      padding: 20px; } }
  @media (min-width: 960px) {
    #diplomatic #content-page #navbar {
      height: calc(100vh - 103px);
      width: 300px;
      padding: 20px; } }
  @media (min-width: 1280px) {
    #diplomatic #content-page #navbar {
      height: calc(100vh - 123px);
      top: 125px;
      width: 300px;
      padding: 20px; } }
  #diplomatic #content-page #navbar .sections-container a {
    text-decoration: none;
    color: black; }
    #diplomatic #content-page #navbar .sections-container a:hover {
      color: #792421;
      cursor: pointer; }
    #diplomatic #content-page #navbar .sections-container a p {
      margin: 0;
      font-family: "Lato", sans-serif; }
  #diplomatic #content-page #navbar .sections-container .section-link {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none; }
    #diplomatic #content-page #navbar .sections-container .section-link:hover {
      color: #792421;
      cursor: pointer; }
    #diplomatic #content-page #navbar .sections-container .section-link p {
      font-family: "Lato", sans-serif; }
  #diplomatic #content-page #navbar .sections-container .sub-section-container {
    margin-top: 20px; }
  #diplomatic #content-page #navbar .sections-container .sub-section-link {
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 20px; }
  #diplomatic #content-page #navbar .sections-container .active-section {
    color: #792421; }

#diplomatic #content-page #content h1, #diplomatic #content-page #content h2, #diplomatic #content-page #content h3, #diplomatic #content-page #content h4 {
  margin-bottom: 10px;
  margin-top: 30px; }
  #diplomatic #content-page #content h1 a, #diplomatic #content-page #content h2 a, #diplomatic #content-page #content h3 a, #diplomatic #content-page #content h4 a {
    text-decoration: none; }

#diplomatic #content-page #content h1 {
  font-size: 22px; }
  @media (min-width: 600px) {
    #diplomatic #content-page #content h1 {
      font-size: 26px; } }

#diplomatic #content-page #content h2 {
  position: relative;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px; }
  @media (min-width: 600px) {
    #diplomatic #content-page #content h2 {
      font-size: 26px; } }
  #diplomatic #content-page #content h2:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #d1d1d1;
    width: 100%;
    bottom: -5px;
    border-radius: 2px; }

#diplomatic #content-page #content h3 {
  font-size: 18px; }
  @media (min-width: 600px) {
    #diplomatic #content-page #content h3 {
      font-size: 20px; } }

#diplomatic #content-page #content h4 {
  font-size: 15px;
  font-family: 'Taviraj', serif; }
  @media (min-width: 600px) {
    #diplomatic #content-page #content h4 {
      font-size: 17px; } }

#diplomatic #content-page #content p {
  font-size: 14px;
  padding-bottom: 1em; }
  @media (min-width: 600px) {
    #diplomatic #content-page #content p {
      font-size: 16px; } }

#diplomatic #content-page #content .loading {
  margin-left: 40%; }

#diplomatic #content-page #content br {
  padding-bottom: 1em; }

#diplomatic #content-page #content a {
  font-weight: bold;
  word-wrap: break-word; }

#diplomatic #content-page #content blockquote p {
  line-height: 1.1; }

#diplomatic #content-page #content i {
  margin-left: 10px; }

#diplomatic #content-page #content ul ul {
  padding-inline-start: 30px; }

#diplomatic #content-page #content ol ol {
  padding-inline-start: 30px; }

#diplomatic #content-page #content li {
  line-height: 1.5;
  font-family: 'Martel', serif; }

#diplomatic #content-page #content table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: 'Martel', serif; }

#diplomatic #content-page #content table td,
#diplomatic #content-page #content table th {
  border: 1px solid #96332f;
  padding: 5px;
  line-height: 1.2;
  text-indent: 0px;
  vertical-align: top;
  min-width: 85px; }

#diplomatic #content-page #content table tr:nth-child(even) {
  background-color: #EBE3DD; }

#diplomatic #content-page #content table th {
  background: #792421;
  font-size: 16px;
  color: white; }

#diplomatic #content-page #content img {
  margin: 30px 0; }

#diplomatic #content-page #content .video-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 10px 0 30px; }

#diplomatic #content-page #content .video-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#diplomatic #content-view h1,
#diplomatic #content-view h2,
#diplomatic #content-view h3,
#diplomatic #content-view h4, #diplomatic .header-wrapper h1,
#diplomatic .header-wrapper h2,
#diplomatic .header-wrapper h3,
#diplomatic .header-wrapper h4, #diplomatic #entry-list-view h1,
#diplomatic #entry-list-view h2,
#diplomatic #entry-list-view h3,
#diplomatic #entry-list-view h4, #diplomatic #annotation-list-view h1,
#diplomatic #annotation-list-view h2,
#diplomatic #annotation-list-view h3,
#diplomatic #annotation-list-view h4 {
  font-family: 'Lato', sans-serif;
  color: black;
  padding: 0;
  margin: 0; }

#diplomatic #content-view h1, #diplomatic .header-wrapper h1, #diplomatic #entry-list-view h1, #diplomatic #annotation-list-view h1 {
  font-family: 'Taviraj', serif;
  font-size: 32px; }

#diplomatic #content-view h2, #diplomatic #content-view h3, #diplomatic .header-wrapper h2, #diplomatic .header-wrapper h3, #diplomatic #entry-list-view h2, #diplomatic #entry-list-view h3, #diplomatic #annotation-list-view h2, #diplomatic #annotation-list-view h3 {
  font-weight: 700; }

#diplomatic #content-view h2, #diplomatic .header-wrapper h2, #diplomatic #entry-list-view h2, #diplomatic #annotation-list-view h2 {
  font-size: 22px; }

#diplomatic #content-view h3, #diplomatic .header-wrapper h3, #diplomatic #entry-list-view h3, #diplomatic #annotation-list-view h3 {
  font-size: 18px; }

#diplomatic #content-view h4, #diplomatic .header-wrapper h4, #diplomatic #entry-list-view h4, #diplomatic #annotation-list-view h4 {
  font-size: 18px;
  font-weight: 700; }

#diplomatic #content-view p, #diplomatic .header-wrapper p, #diplomatic #entry-list-view p, #diplomatic #annotation-list-view p {
  font-family: "Martel", serif;
  line-height: 1.25; }

#diplomatic #content-view span, #diplomatic .header-wrapper span, #diplomatic #entry-list-view span, #diplomatic #annotation-list-view span {
  font-family: "Martel", serif;
  line-height: 1.25;
  margin: 0; }

#diplomatic #content-view a.MuiButton-containedPrimary.cta-button, #diplomatic .header-wrapper a.MuiButton-containedPrimary.cta-button, #diplomatic #entry-list-view a.MuiButton-containedPrimary.cta-button, #diplomatic #annotation-list-view a.MuiButton-containedPrimary.cta-button {
  color: white;
  padding: 10px 70px;
  border-radius: 0; }
  #diplomatic #content-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic .header-wrapper a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic #entry-list-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span, #diplomatic #annotation-list-view a.MuiButton-containedPrimary.cta-button .MuiButton-label span {
    font-family: 'Lato', sans-serif;
    font-size: 20px; }

#diplomatic #content-view a, #diplomatic .header-wrapper a, #diplomatic #entry-list-view a, #diplomatic #annotation-list-view a {
  color: #792421; }
  #diplomatic #content-view a:hover, #diplomatic .header-wrapper a:hover, #diplomatic #entry-list-view a:hover, #diplomatic #annotation-list-view a:hover {
    color: #CBA374; }

#diplomatic #content-view .cta-link.MuiLink-underlineHover:hover, #diplomatic .header-wrapper .cta-link.MuiLink-underlineHover:hover, #diplomatic #entry-list-view .cta-link.MuiLink-underlineHover:hover, #diplomatic #annotation-list-view .cta-link.MuiLink-underlineHover:hover {
  text-decoration: none; }

#diplomatic #content-view a.cta-link, #diplomatic .header-wrapper a.cta-link, #diplomatic #entry-list-view a.cta-link, #diplomatic #annotation-list-view a.cta-link {
  color: black;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px; }
  @media (min-width: 960px) {
    #diplomatic #content-view a.cta-link, #diplomatic .header-wrapper a.cta-link, #diplomatic #entry-list-view a.cta-link, #diplomatic #annotation-list-view a.cta-link {
      font-size: 18px; } }
  #diplomatic #content-view a.cta-link.with-icon:after, #diplomatic .header-wrapper a.cta-link.with-icon:after, #diplomatic #entry-list-view a.cta-link.with-icon:after, #diplomatic #annotation-list-view a.cta-link.with-icon:after {
    font-family: "Font Awesome 5 Free";
    margin-left: 7px;
    font-weight: 600;
    content: "\f054";
    font-size: 15px; }
  #diplomatic #content-view a.cta-link:before, #diplomatic .header-wrapper a.cta-link:before, #diplomatic #entry-list-view a.cta-link:before, #diplomatic #annotation-list-view a.cta-link:before {
    position: absolute;
    content: "";
    height: 2px;
    background-color: black;
    width: 50%;
    right: 30%;
    bottom: -5px;
    border-radius: 2px; }
  #diplomatic #content-view a.cta-link:hover:before, #diplomatic .header-wrapper a.cta-link:hover:before, #diplomatic #entry-list-view a.cta-link:hover:before, #diplomatic #annotation-list-view a.cta-link:hover:before {
    background-color: #792421;
    text-decoration: none;
    height: 6px;
    bottom: -9px;
    -webkit-animation: slide-down .2s;
    -moz-animation: slide-down .2s;
    -ms-animation: slide-down .2s;
    -o-animation: slide-down .2s;
    animation: slide-down .2s; }
  #diplomatic #content-view a.cta-link:hover:after, #diplomatic .header-wrapper a.cta-link:hover:after, #diplomatic #entry-list-view a.cta-link:hover:after, #diplomatic #annotation-list-view a.cta-link:hover:after {
    color: #792421; }

#diplomatic #content-view a.cta-link.active:before, #diplomatic .header-wrapper a.cta-link.active:before, #diplomatic #entry-list-view a.cta-link.active:before, #diplomatic #annotation-list-view a.cta-link.active:before {
  background-color: #792421;
  text-decoration: none;
  height: 6px;
  bottom: -9px;
  -webkit-animation: slide-down .2s;
  -moz-animation: slide-down .2s;
  -ms-animation: slide-down .2s;
  -o-animation: slide-down .2s;
  animation: slide-down .2s; }

#diplomatic #content-view a.cta-link.active:after, #diplomatic .header-wrapper a.cta-link.active:after, #diplomatic #entry-list-view a.cta-link.active:after, #diplomatic #annotation-list-view a.cta-link.active:after {
  color: #792421; }

#diplomatic #content-view a.cta-link.light, #diplomatic .header-wrapper a.cta-link.light, #diplomatic #entry-list-view a.cta-link.light, #diplomatic #annotation-list-view a.cta-link.light {
  color: #444444; }
  #diplomatic #content-view a.cta-link.light:before, #diplomatic .header-wrapper a.cta-link.light:before, #diplomatic #entry-list-view a.cta-link.light:before, #diplomatic #annotation-list-view a.cta-link.light:before {
    background-color: #444444; }
  #diplomatic #content-view a.cta-link.light:hover:before, #diplomatic .header-wrapper a.cta-link.light:hover:before, #diplomatic #entry-list-view a.cta-link.light:hover:before, #diplomatic #annotation-list-view a.cta-link.light:hover:before {
    background-color: #792421; }

#diplomatic #content-view a.cta-link.video-link:after, #diplomatic .header-wrapper a.cta-link.video-link:after, #diplomatic #entry-list-view a.cta-link.video-link:after, #diplomatic #annotation-list-view a.cta-link.video-link:after {
  content: "\f04b";
  font-size: 12px;
  margin-bottom: -2px; }

#diplomatic #content-view a.cta-link.search-link:after, #diplomatic .header-wrapper a.cta-link.search-link:after, #diplomatic #entry-list-view a.cta-link.search-link:after, #diplomatic #annotation-list-view a.cta-link.search-link:after {
  font-family: 'Material Icons';
  content: "search";
  font-size: 16px; }

#diplomatic #header {
  width: 100%;
  padding: 0px 20px;
  background-color: white;
  border-radius: 0; }
  @media (min-width: 1280px) {
    #diplomatic #header {
      padding: 5px 50px; } }
  #diplomatic #header img {
    width: 210px; }
    @media (min-width: 600px) {
      #diplomatic #header img {
        width: 300px; } }
    @media (min-width: 960px) {
      #diplomatic #header img {
        width: 300px; } }
  #diplomatic #header .expandedViewOnly {
    width: 100%; }
  #diplomatic #header .nav-item {
    font-size: 16px;
    margin-right: 5px;
    white-space: nowrap;
    margin-bottom: 15px; }
  #diplomatic #header .search-btn {
    margin-bottom: 10px;
    font-size: 18px; }

#diplomatic .maroon-dropdown {
  background-color: #460C0A;
  border-radius: 0;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.8), 0 5px 5px -5px rgba(0, 0, 0, 0.8); }

#diplomatic .mobile-menu {
  padding: 50px 0; }
  #diplomatic .mobile-menu .list-container {
    position: relative; }
    #diplomatic .mobile-menu .list-container .list {
      color: 'white'; }

#diplomatic .search-bar {
  height: 162px; }
  #diplomatic .search-bar .label {
    font-size: 32px;
    color: white;
    font-weight: 400;
    white-space: nowrap; }
  #diplomatic .search-bar .content {
    width: 50%; }
  #diplomatic .search-bar #search input {
    border: 1px solid #DEDEDF;
    border-radius: 4px;
    width: 300px;
    height: 38px;
    font-size: 14px;
    padding: 5px 15px;
    font-family: 'Lato', sans-serif; }

#diplomatic.sticky .header-wrapper.sticky {
  position: sticky;
  top: 0;
  z-index: 2; }

#diplomatic #footer {
  color: white;
  background-color: #460C0A;
  display: flex;
  flex-direction: column;
  padding: 10px 20px; }
  @media (min-width: 600px) {
    #diplomatic #footer {
      padding: 20px 30px; } }
  @media (min-width: 960px) {
    #diplomatic #footer {
      padding: 30px 40px; } }
  #diplomatic #footer p, #diplomatic #footer a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 1.5;
    margin: 0; }
  #diplomatic #footer a:hover {
    color: #CBA374;
    fill: #CBA374; }
  #diplomatic #footer .top {
    margin-bottom: 10px; }
    #diplomatic #footer .top p {
      margin: 0 5px;
      white-space: nowrap; }
  #diplomatic #footer .doi {
    text-align: center; }
  #diplomatic #footer .copyright .symbols {
    text-decoration: none; }
  #diplomatic #footer .copyright svg {
    width: 14px;
    height: 14px; }
  #diplomatic #footer .logos {
    margin-bottom: 10px; }
    #diplomatic #footer .logos img {
      width: 150px; }
      @media (min-width: 600px) {
        #diplomatic #footer .logos img {
          width: 200px; } }
      @media (min-width: 600px) {
        #diplomatic #footer .logos img {
          width: 250px; } }
  #diplomatic #footer .footer-links {
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 2; }

#diplomatic.fixed {
  background: white;
  position: fixed;
  width: 100vw;
  height: calc(100vh - $chrome-height);
  font-size: 0.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'OpenSans', sans-serif;
  font-size: 0.9rem; }
  @media (min-width: 600px) {
    #diplomatic.fixed {
      height: calc(100vh - $sm-chrome-height); } }
  @media (min-width: 960px) {
    #diplomatic.fixed {
      height: calc(100vh - $md-chrome-height); } }
  #diplomatic.fixed #content {
    line-height: 1.2rem; }
  #diplomatic.fixed h1,
  #diplomatic.fixed h2,
  #diplomatic.fixed h3,
  #diplomatic.fixed h4 {
    color: #000000b8;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    padding: 0;
    line-height: 1.5rem; }

.imageGridComponent {
  background-color: #000000;
  font-size: 0.8rem;
  overflow: scroll;
  height: 100vh; }

.imageGridComponent > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 1.5rem 0 8rem 2rem; }

.imageGridComponent > ul > li {
  margin-bottom: 20px;
  width: 150px;
  height: 220px; }

.imageGridComponent > ul > li > figure {
  margin: 8px; }

.imageGridComponent > ul > li > figure:hover {
  border: 2px #eee solid;
  margin: 6px; }

.imageGridComponent > ul > li > .thumbnail-caption {
  text-align: center;
  color: white; }

.hidden {
  display: none; }

.imageGridComponent .imageGridToolbar {
  padding: 5px;
  color: white; }
  .imageGridComponent .imageGridToolbar .jump-to {
    float: right;
    display: 'inline';
    margin-right: 30px; }
    .imageGridComponent .imageGridToolbar .jump-to #jump-to-input {
      margin-left: 5px; }
    .imageGridComponent .imageGridToolbar .jump-to #jump-to-button {
      margin-left: 5px;
      cursor: pointer; }

.split-pane-view {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "image_viewer divider transcription"; }

.split-pane-view > .divider {
  z-index: 2;
  grid-area: divider;
  width: 1rem;
  background: #BBB;
  cursor: ew-resize;
  display: flex; }

.split-pane-view > .divider > .drawer-button {
  align-self: center;
  align: center;
  cursor: auto; }

.split-pane-view > .divider > .drawer-button:hover {
  color: white; }

.split-pane-view > .divider > .hidden {
  display: none; }

.split-pane-view #annotation-view {
  font-size: 16px; }

#image-view-seadragon-left,
#image-view-seadragon-right {
  width: 100%;
  height: 100%;
  grid-area: image_viewer;
  background: black; }

.imageViewComponent {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh; }

.ImageZoomControl {
  position: absolute;
  z-index: 1;
  top: 8rem;
  color: white;
  list-style: none;
  background: #4A4A4A;
  opacity: 0.4;
  margin: 0;
  padding: .4rem .5rem;
  border-radius: 0.3rem; }
  @media (min-width: 960px) {
    .ImageZoomControl {
      top: 4rem;
      left: 2rem; } }

.ImageZoomControl > li {
  color: #E0E0E0; }

.ImageZoomControl > li > .zoom-in {
  margin-top: 8px; }

.ImageZoomControl > li:hover {
  color: white; }

.ImageZoomControl > li > .zoom-3 {
  margin-top: 8px; }

.ImageZoomControl > li > .zoom-2 {
  margin-top: 8px;
  margin-left: 5px; }

.ImageZoomControl > li > .zoom-1 {
  margin-top: 8px;
  margin-left: 7px; }

.ImageZoomControl > li > .zoom-out {
  margin-top: 8px; }

.ImageZoomControl > li > .zoom-grid {
  margin-top: 30px; }

.transcriptionViewComponent {
  overflow: scroll;
  height: calc(100vh - 7rem); }
  .transcriptionViewComponent .transcriptContent {
    padding: 50px 16px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-bottom: 92px; }
    @media (min-width: 960px) {
      .transcriptionViewComponent .transcriptContent {
        padding: 5px 16px; } }
    .transcriptionViewComponent .transcriptContent figure {
      display: inline; }
    .transcriptionViewComponent .transcriptContent .block {
      margin-bottom: 1.5rem; }
    .transcriptionViewComponent .transcriptContent .block[data-layout='right-middle'] {
      max-width: 250px; }
    .transcriptionViewComponent .transcriptContent .block[data-layout='right-top'] {
      max-width: 250px; }
    .transcriptionViewComponent .transcriptContent .block[data-layout='right-bottom'] {
      max-width: 250px; }
    .transcriptionViewComponent .transcriptContent .add {
      color: blue;
      vertical-align: super;
      font-size: 10pt; }
    .transcriptionViewComponent .transcriptContent .del {
      color: red; }
    .transcriptionViewComponent .transcriptContent .ups {
      background: lightgray;
      font-size: 14px; }
    .transcriptionViewComponent .transcriptContent .x-small-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 30px; }
    .transcriptionViewComponent .transcriptContent .small-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 60px; }
    .transcriptionViewComponent .transcriptContent .medium-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 200px; }
    .transcriptionViewComponent .transcriptContent .large-inline-figure {
      margin: 5px;
      border: 1px solid gray;
      width: 350px; }
    .transcriptionViewComponent .transcriptContent .surface {
      grid-area: transcription;
      margin: 0;
      padding: 0;
      list-style: none; }
    .transcriptionViewComponent .transcriptContent .grid-mode {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(min-content, 0fr);
      grid-gap: 2px; }
    .transcriptionViewComponent .transcriptContent .surface > .small-font {
      font-size: 11pt; }
    .transcriptionViewComponent .transcriptContent .surface > div {
      padding: 10px; }
    .transcriptionViewComponent .transcriptContent .surface > #z0 {
      grid-area: z0; }
    .transcriptionViewComponent .transcriptContent .surface > #z1 {
      grid-area: z1; }
    .transcriptionViewComponent .transcriptContent .surface > #z2 {
      grid-area: z2; }
    .transcriptionViewComponent .transcriptContent .surface > #z3 {
      grid-area: z3; }
    .transcriptionViewComponent .transcriptContent .surface > #z4 {
      grid-area: z4; }
    .transcriptionViewComponent .transcriptContent .surface > #z5 {
      grid-area: z5; }
    .transcriptionViewComponent .transcriptContent .surface > #z6 {
      grid-area: z6; }
    .transcriptionViewComponent .transcriptContent .surface > #z7 {
      grid-area: z7; }
    .transcriptionViewComponent .transcriptContent .surface > #z8 {
      grid-area: z8; }
    .transcriptionViewComponent .transcriptContent .surface > #z9 {
      grid-area: z9; }
    .transcriptionViewComponent .transcriptContent .surface > #z10 {
      grid-area: z10; }
    .transcriptionViewComponent .transcriptContent .surface > #z11 {
      grid-area: z11; }
    .transcriptionViewComponent .transcriptContent .surface > #z12 {
      grid-area: z12; }
    .transcriptionViewComponent .transcriptContent .surface > #z13 {
      grid-area: z13; }
    .transcriptionViewComponent .transcriptContent .surface > #z14 {
      grid-area: z14; }
    .transcriptionViewComponent .transcriptContent .surface > #z15 {
      grid-area: z15; }
    .transcriptionViewComponent .transcriptContent .surface > #z16 {
      grid-area: z16; }
    .transcriptionViewComponent .transcriptContent .surface > #z17 {
      grid-area: z17; }
    .transcriptionViewComponent .transcriptContent .surface > #z18 {
      grid-area: z18; }
    .transcriptionViewComponent .transcriptContent .surface > #z19 {
      grid-area: z19; }
    .transcriptionViewComponent .transcriptContent .surface > #z20 {
      grid-area: z20; }
    .transcriptionViewComponent .transcriptContent .highlight {
      background-color: yellow; }

.editor-comment-content {
  word-wrap: break-word; }

.xmlViewComponent .navigationComponent {
  background-color: white;
  color: #000000; }

.xmlContent {
  padding: 0;
  margin: 4.5rem 0 0;
  width: calc(100% - 1.2rem);
  min-height: 100vh;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem; }

.xmlViewComponent {
  overflow: scroll;
  margin: 0 0 0 1rem;
  height: calc(100vh - 7rem); }

.xmlContentInner {
  overflow-x: scroll; }

#glossaryView #glossaryViewInner {
  overflow-y: scroll;
  margin: 5px 0 0 0;
  width: calc(100% - 1.2rem);
  height: calc(100vh - 170px);
  padding: 5px 16px; }
  @media (min-width: 960px) {
    #glossaryView #glossaryViewInner {
      margin: 52px 0 0 0; } }

#glossaryView .cite-header {
  text-align: center;
  margin-bottom: 5px; }

#glossaryView .cite-instructions {
  margin: 20px;
  margin-left: 15%;
  margin-right: 15%; }

#glossaryView .navigationComponent {
  position: sticky;
  top: 0; }
  @media (min-width: 960px) {
    #glossaryView .navigationComponent {
      position: fixed;
      top: initial; } }

#glossaryView .glossaryNav {
  background: white;
  padding: 5px;
  position: relative; }
  #glossaryView .glossaryNav #glossary-filter {
    margin-right: 10px; }
  #glossaryView .glossaryNav .alphaNav {
    display: none; }
    @media (min-width: 960px) {
      #glossaryView .glossaryNav .alphaNav {
        display: block; } }

#glossaryView .alphaNav {
  color: blue;
  display: inline; }

#glossaryView .title {
  white-space: nowrap;
  position: relative;
  width: calc(100% - 1.7rem);
  text-align: center;
  top: -2em;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 960px) {
    #glossaryView .title {
      top: -1em; } }

#glossaryView .subtitle {
  white-space: nowrap;
  position: relative;
  width: calc(100% - 1.7rem);
  text-align: center;
  top: -2em;
  font-style: italic;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (min-width: 960px) {
    #glossaryView .subtitle {
      top: -1em; } }

#glossaryView #glossaryContent {
  padding: 5rem 0 0;
  min-height: 100vh;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-width: 10rem; }
  @media (min-width: 960px) {
    #glossaryView #glossaryContent {
      padding: 3.5rem 0 0; } }

.annotation .content {
  min-height: 255px; }

.annotation .anno-btn {
  margin: -.6rem 0 0 0;
  width: 3rem;
  min-height: 2.5rem;
  border-radius: 0.3rem;
  color: #92aac7;
  float: right;
  font-size: 1.2rem;
  background-color: #cccccc21;
  border: 1px dashed #0000001a;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.annotation .thumbnail {
  border: 1px solid gray;
  margin: 15px 15px 5px 0px;
  float: left;
  height: 200px;
  width: 200px;
  background: white; }
  .annotation .thumbnail .icon {
    color: darkgray;
    margin: 20px 35px; }

.annotation .header {
  margin: 1rem 0 0 0;
  display: flex; }

.annotation .header .title {
  width: 100%; }

.annotation .content {
  border-radius: 0.3rem 0 0.3rem 0.3rem;
  border: 1px dashed #0000001a;
  background-color: #cccccc69;
  padding: 1rem;
  margin: 0 0 1rem 0; }

.annotation .header .icon.open {
  border-radius: 0.3rem 0.3rem 0 0;
  border-bottom: none;
  background-color: #cccccc69; }

.annotation .videoEmbed {
  border-radius: 0.3rem;
  margin: 2rem 1rem 0 0;
  background-color: #bfbfbf;
  width: 100%; }

.jumpToFolio_component {
  margin: 1rem 0 0 -4.5rem;
  padding: 0.6rem;
  height: 1.2rem;
  width: 9.5rem;
  background: #e7e7e7;
  border: 1px solid rgba(90, 98, 102, 0.53);
  border-radius: 0.3rem;
  -webkit-box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  -moz-box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  box-shadow: 6px 6px 5px 0 rgba(0, 0, 0, 0.211765);
  font-family: sans-serif; }

.jumpToFolio_component input:focus {
  outline: none; }

.jumpToFolio_component:after,
.jumpToFolio_component:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.jumpToFolio_component:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #e7e7e7;
  border-width: 9px;
  margin-left: -9px; }

.jumpToFolio_component:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(90, 98, 102, 0.53);
  border-width: 11px;
  margin-left: -11px; }

.searchResultsComponent {
  height: 100vh;
  padding: 1rem;
  width: 100%;
  background-color: #EBE3DD; }
  .searchResultsComponent .navigation {
    position: relative;
    top: -0.4rem;
    font-size: 0.8rem;
    padding: 0 0 1rem; }
  .searchResultsComponent .fa-th {
    color: rgba(0, 0, 0, 0.541176);
    width: 1rem;
    height: 1rem; }
  .searchResultsComponent hr {
    padding: 1rem;
    margin: 0;
    border: 0;
    border-bottom: solid 0.3px rgba(0, 0, 0, 0.0392157); }
  .searchResultsComponent .resultSectionHeader {
    font-weight: 900;
    font-size: .90rem;
    padding: 2rem 0 0;
    margin: 0; }
  .searchResultsComponent .textField {
    font-size: 1.80rem;
    height: 2.05rem;
    border-radius: 0.3rem;
    border: 1px solid #eae6e6;
    width: 60%; }
  .searchResultsComponent .searchFilters div {
    margin-bottom: 10px; }
    .searchResultsComponent .searchFilters div input {
      cursor: pointer; }
  .searchResultsComponent .searchFilters span {
    font-family: 'Lato', sans-serif;
    margin: 0 15px 0 3px;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap; }
  .searchResultsComponent .searchResultControls .search-radio {
    color: #3f51b5; }
  .searchResultsComponent .searchResults {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 20rem);
    margin-bottom: 5px; }
  .searchResultsComponent hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0509804); }
  .searchResultsComponent .resultSection .searchResult {
    font-weight: 100 !important;
    height: 4.2rem;
    padding: 0 1rem 0 0;
    overflow: hidden;
    font-size: .9rem; }
  .searchResultsComponent .resultSection .searchResult:not(:nth-of-type(1)) {
    padding: 1rem 0 0; }
  .searchResultsComponent .resultSection .searchResult .title {
    font-weight: 900;
    color: #708690 !important; }
  .searchResultsComponent .resultSection .searchResult .fa {
    float: left;
    font-size: 2.65rem;
    padding: 0.3rem 0 0;
    margin: 0;
    width: 3.5rem;
    height: 3.5rem;
    color: rgba(112, 134, 144, 0.27) !important; }
  .searchResultsComponent .resultSection .noResultsFound {
    text-align: center;
    font-size: 1.35rem;
    padding: 5rem;
    color: rgba(112, 134, 144, 0.52); }
  .searchResultsComponent .resultSection:not(:nth-of-type(1)) {
    opacity: 0.6 !important; }
  .searchResultsComponent .contextFragments {
    font-style: italic;
    font-weight: 400; }
  .searchResultsComponent .highlight {
    background: yellow; }

.searchFilters span,
.searchResultsComponent .name {
  margin: 0 0.5rem 0 0.1rem; }
