

#header {
  height: 100px;
  padding: 5px;
  overflow-x: hidden;
  background-color: #CCC;
  font-family: 'Roboto', sans-serif;
  grid-area: header;
}

#header > .site-name {
  padding-left: 10px;
}

#content {
  /* height: 100%; */
}

#footer {
}

#main {
  /* height: 100%; */
}

body {
  margin: 0px;
  padding: 0px;
}
