@charset "UTF-8";
/* Normalize first */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
/*  Google fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
/* FontAwesome icon font http://fontawesome.io/ */
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
/* Globals */
#header {
  z-index: 10;
  position: fixed;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
  height: 4rem;
  background-color: #656565;
  font-family: 'OpenSans', sans-serif;
  grid-area: header;
  padding: 0.4rem 0 0 1rem;
  white-space: nowrap;
  border-radius: 0 0 0 0.3rem; }

#header .title {
  font-size: 2rem;
  font-weight: 700; }

#header .tagline {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.3rem 0 0 0.3rem; }

#diplo-matic {
  padding: 4rem 0 0;
  margin: 0 0 0 -.6rem;
  /* This compensates for something inline that should be removed */
  width: 100vw;
  height: calc(100vh-$header-height);
  font-family: 'OpenSans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem; }

h1, h2, h3, h4 {
  color: #000000b8;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0 0 0.3rem;
  width: 23rem;
  text-align: center; }

#footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: white;
  height: 1.5rem;
  background-color: #656565;
  font-family: 'OpenSans', sans-serif;
  grid-area: header;
  padding: 0.4rem 0 0 1rem;
  white-space: nowrap; }

#footer .copyright {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.1rem 0 0 0.3rem; }

m {
  color: #90a9c5; }

#navigation {
  position: Fixed;
  top: 0;
  right: 0;
  background-color: blue;
  width: 40rem;
  height: 4.4rem; }

.arrow.disabled {
  opacity: 0.5; }

/*!

Split Pane v0.9.4

Copyright (c) 2014 - 2016 Simon Hagström

Released under the MIT license
https://raw.github.com/shagstrom/split-pane/master/LICENSE

*/
.split-pane {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0; }

.split-pane.fixed-bottom > .split-pane-component,
.split-pane.fixed-top > .split-pane-component,
.split-pane.horizontal-percent > .split-pane-component {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: auto;
  top: auto;
  bottom: 0;
  z-index: 1; }

.split-pane.fixed-bottom > .split-pane-component:first-child,
.split-pane.fixed-top > .split-pane-component:first-child,
.split-pane.horizontal-percent > .split-pane-component:first-child {
  top: 0;
  bottom: auto; }

.split-pane.fixed-bottom > .split-pane-divider,
.split-pane.fixed-top > .split-pane-divider,
.split-pane.horizontal-percent > .split-pane-divider {
  position: absolute;
  width: 100%;
  left: 0;
  cursor: row-resize;
  z-index: 2; }

.split-pane.fixed-bottom > .split-pane-divider > .split-pane-divider-inner,
.split-pane.fixed-top > .split-pane-divider > .split-pane-divider-inner,
.split-pane.horizontal-percent > .split-pane-divider > .split-pane-divider-inner {
  position: absolute;
  top: -5px;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  padding: 5px 0; }

.split-pane.fixed-left > .split-pane-component,
.split-pane.fixed-right > .split-pane-component,
.split-pane.vertical-percent > .split-pane-component {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: auto;
  left: auto;
  right: 0;
  z-index: 1; }

.split-pane.fixed-left > .split-pane-component:first-child,
.split-pane.fixed-right > .split-pane-component:first-child,
.split-pane.vertical-percent > .split-pane-component:first-child {
  left: 0;
  right: auto; }

.split-pane.fixed-left > .split-pane-divider,
.split-pane.fixed-right > .split-pane-divider,
.split-pane.vertical-percent > .split-pane-divider {
  position: absolute;
  height: 100%;
  top: 0;
  cursor: col-resize;
  z-index: 2; }

.split-pane.fixed-left > .split-pane-divider > .split-pane-divider-inner,
.split-pane.fixed-right > .split-pane-divider > .split-pane-divider-inner,
.split-pane.vertical-percent > .split-pane-divider > .split-pane-divider-inner {
  position: absolute;
  top: 0;
  left: -5px;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  padding: 0 5px; }

.split-pane-resize-shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none; }

.split-pane.fixed-left > .split-pane-resize-shim,
.split-pane.fixed-right > .split-pane-resize-shim,
.split-pane.vertical-percent > .split-pane-resize-shim {
  cursor: col-resize; }

.split-pane.fixed-bottom > .split-pane-resize-shim,
.split-pane.fixed-top > .split-pane-resize-shim,
.split-pane.horizontal-percent > .split-pane-resize-shim {
  cursor: row-resize; }

#loadingStateModal {
  position: fixed;
  z-index: 9000;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100vw;
  height: 100vh; }

.spinner {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (1rem/2)) auto 0 auto;
  text-align: center; }

.spinner > div {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
	100%,
	80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
	100%,
	80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
figure {
  padding: 0.3rem 0 0;
  border-radius: 0.2rem;
  margin: 0;
  text-align: center; }

figure.current {
  background-color: rgba(7, 122, 255, 0.831); }

.thumbnail-caption.current {
  color: rgba(7, 122, 255, 0.831) !important;
  font-weight: 900; }

.watermark {
  width: 100%;
  height: 100%;
  margin: calc(50vh - (10rem/2)) auto 0 auto; }

.watermark_contents {
  width: 10rem;
  height: 10rem;
  background-image: url("../img/watermark.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto auto auto auto; }

/*# sourceMappingURL=index.css.map */
