// --------------------------------------------------
// Layout default
// --------------------------------------------------

header {
  margin: 10px;
  overflow-x: hidden;
  background-color: $light-gray;

  .site-name {
    padding: 10px;
  }

  nav {
    padding-top: 3px;
    float: right;
  }
}

footer {
  overflow-x: hidden;
  background-color: $light-gray;
  margin: 10px;

  nav {
    float: right;
  }

}
