.reading {
  margin: 5px;
  width: 100%;

  div {
    font: sans-serif;
  }

  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: 10px;
  grid-template-areas: "image_viewer page";

  #image-view-seadragon {
    width: 100%;
    height: 100%;
  }

  .image-viewer {  
    grid-area: image_viewer;
    background: black;
  }

  .page {
    grid-area: page;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "p1 p2 p4"
        "p1 p3 p4"
        "p1 p5 p5"
        "p1 p6 p6";
  }

  .part-1 {
      font-size: 10pt;
      grid-area: p1;
  }
  .part-2 {
    font-size: 10pt;
      grid-area: p2;
  }
  .part-3 {
      grid-area: p3;
  }
  .part-4 {
      font-size: 10pt;
      grid-area: p4;
  }
  .part-5 {
      grid-area: p5;
  }
  .part-6 {
      grid-area: p6;
  }

  .page div {
      border: 1px solid #EFEDED;
      padding: 10px;
  }

}
