#image-grid-view {
  grid-area: image_viewer;
  background: black;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  margin-left: 10px
}

#image-grid-view > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}

#image-grid-view > ul > li {
  margin-bottom: 20px;
  width: 150px;
  height: 220px;
}

#image-grid-view > ul > li > figure {
  margin: 8px;
}

#image-grid-view > ul > li > figure:hover {
  border: 2px #eee solid;
  margin: 6px;
}

#image-grid-view > ul > li > .thumbnail-caption {
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}
