#image-grid-view {
  grid-area: image_viewer;
  background: black;
}

#image-grid-view > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#image-grid-view > .thumbnail {
  padding: 5px;
}

#image-grid-view > .thumbnail figure {
  margin: 10px;
  margin-top: 20px;
}

#image-grid-view > .thumbnail-caption {
  text-align: center;
  color: white;
}
