#annotation-list-view {

    margin: 10px;
    
    .titlebar h4 {
        padding: 16px;
    }

    .titlebar .list-mode-buttons {
        float: right;
    }

    .contentArea {
        display: flex;

        .tocbar {
            padding: 5px;
            min-width: 200px;
        }

        .anno-list {
            display: flex;
            flex-wrap: wrap;
            background:#eee;

            .anno {
                
                margin-top: 20px;
                margin-left: 20px;
                max-width: 450px;
                .status-indicator {
                    color: red;
                }
        
                .entries {
                    float: right;
                }
                
                .details {
                    margin-top: 30px;
                }
            }        
        }
    }
}