#annotation-view.view-mode {
    margin: 80px 20% 80px 20%;
    max-width: 960px;
}

#annotation-view.search-mode {
    overflow: scroll;
    padding: 80px 20px 80px 20px;
    width: calc(100% - 2.5rem);    
    height: calc(100vh - 14rem);
}

#annotation-view {

    line-height: 1.5;
    text-indent: 50px;

    p {
        margin: 0px;
    }

    a {
        word-wrap:break-word;
    }
    
    h1 {
        text-align: center;
    }

    h4 {
        text-align: center;
        margin-bottom: 30px;
    }

    h4 + p {
        text-indent: 0px;
    }

    h2 {
        margin: 0px;
        margin-top: 40px;
        text-indent: 0px;
    }

    h2 + p {
        text-indent: 0px;
    }
    
    li {
        p {
            text-indent: 5px;
            margin-bottom: 15px;
        }
    }

    .footnote-ref, .footnote-back {
        color: blue;
        text-decoration: underline blue;
    }


    blockquote {
        p {
            text-indent: 0px;
        }
    }

    .figure-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    figure {
        margin-top: 20px;
        margin-bottom: 20px;

        iframe {
            width: 560px;
            border: 1px solid #DDDDDD;        }
        img {
            width: 300px;
            border: 1px solid #DDDDDD;
        }
        figcaption {
            text-indent: 0px;
            line-height: 1.2;
            margin-left: 50px;
            font-size: 10pt;            
            text-align: left
        }
        img + figcaption {
            width: 300px;
        }     
        iframe + figcaption {
            width: 560px;
        }
    }

    table {
        margin: 20px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        td, th {
        border: 1px solid #AAAAAA;
        padding: 5px;
        line-height: 1.2;
        text-indent: 0px;
        vertical-align: top;
        }
     
        th {
            padding-left: 5px;
            background: #3F3626;
            font-size: 15px;
            color: white;
        }
    }    

    .footnotes {
        line-height: 1;
    }

    .bibliography {
        p {
            text-indent: 0px;   
            line-height: 1;
            margin-bottom: 15px;
        }
    }
}