#annotation-list-view {

    margin: 30px 20% 80px 20%;
    max-width: 66%;
    line-height: 2;

    .annotationList {
        max-width: 600px;
    }

    .anno {

        margin-top: 30px;

        // .title a {
        //     padding-left: 0px;
        // }

        .status-indicator {
            color: red;
        }

        .entries {
            float: right;
        }
        
        .details {
            margin-top: 30px;
        }
    }

}