#featured-essays-panel #essay-card-container, #annotation-list-view{
.annotation-card.MuiPaper-rounded{
    border-radius: 0px;
    height: 550px;
    position: relative;
    width: 350px;
    margin-bottom: 25px;
    @include sm{
        margin-bottom: 65px;
    }
}
.annotation-card.MuiPaper-rounded.expanded{
    height: 100%;
}
.annotation-card{
    .card-lr-padding{
        padding-left: 25px;
        padding-right: 25px;
    }
    .theme-title-container{
        padding-top: 20px;
        p,span{
            padding-bottom: 0px;
        }
    }
    p.anno-theme{
        font-size: 12px !important;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        color: #3B3B3B;
    }
    p.anno-title{
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 18px !important;
        font-weight: 700;
        i {
            margin-left: 0px !important;
        }
    }
    .anno-abstract{
        color: $grey;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Taviraj', serif !important;;
        color: #444444;
    }
    .abstract-container{
        margin-bottom: 60px;
    }
    .anno-byline{
        margin-bottom: 15px;
    }
    .expand-collapse-toggle{
        color: $maroon;
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;
        &:hover{
          cursor: pointer; 
          background-color: rgba(0,0,0,.05); 
        }
    }
    .read-essay-link{
        position: absolute;
        bottom: 20px;
        left: 25px;
        background-color: white;
        padding: 5px 10px 13px;
        border-radius: 4px;
    }
}
}