#annotation-view.view-mode {
    margin: 40px 10% 40px 10%;
    max-width: 960px;
    @include md {
        margin: 80px 20% 80px 20%;
    }
}

#annotation-view.search-mode {
    overflow: scroll;
    padding: 80px 20px 120px 20px;
    width: calc(100% - 2.5rem);    
    height: calc(100vh);
}

#annotation-view {

    p {
        margin: 0px;
        text-indent: 50px;
        line-height: 1.5;
    }

    a {
        word-wrap:break-word;
    }
    
    h1 {
        text-align: center;
        line-height: 2.5em;
        line-height: 1.5em;
    }
    h2 {
        font-size: 1.6em;
        margin-top: 40px;
        line-height: 1.7em;
    }
    h3 {
        font-size: 1.1em;
        line-height: 1em;
        margin-top: 1.5em;
    }
    h4 {
        margin-bottom: 30px;
    }

    h2 + p {
        text-indent: 0px;
    }

    h3 + p {
        text-indent: 0px;
    }

    h4 + p {
        text-indent: 0px;
    }

    .pull-left {
        text-indent: 0px;
    }

    i .underline {
        font-style: normal;
    }

    i{
        u {
            font-style: normal;
        }
    }

    .underline {
        text-decoration: underline;
    }
    
    .annotation-nav {
        position: absolute;
        top: 140px;
        left: 10px;
        i {
            color: #333;
        }
    }

    .title-byline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            &:hover {
                cursor: default;
            }
            color: #000000b8;
            font-family: 'OpenSans', sans-serif;
            font-weight: 700;
            padding: 0;
            margin: 0 0 0.3rem;
            line-height: 1.5rem;
        }
    }
    .anno-byline {
        text-align: center;
        margin-bottom: 30px;
        p {
            text-indent: 0px;
            margin-bottom: 20px;
        }
    }

    .header-section {
        border: 1px dashed rgb(179, 178, 178);
        padding: 1rem;
        margin-bottom: 30px;
        h2 {
            font-size: 1em;
            margin-top: 0px;
        }
        div {
            line-height: 1em;
        }
        p { 
            text-indent: 0px;
            line-height: 1.25;
        }
    }
    .footnote-ref, .footnote-back {
        color: blue;
        text-decoration: underline blue;
    }


    blockquote {
        margin-inline-start: 25px;
        p {
            text-indent: 0px;
            line-height: 1.1;
        }
    }

    .figure-container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
    }
    
    figure {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        .video-iframe-wrapper {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                height: 100%;
                border: 1px solid #DDDDDD;
            }
        }
        .figure-image-container {
            padding-right: 30px;
        }
        img {
            width: 300px;
            border: 1px solid #DDDDDD;
        }
        figcaption {
            line-height: 1.2;
            font-size: 10pt;            
            text-align: left;
            max-width: 100%
        }
        div + figcaption {
            width: 300px;
        }     
        .video-iframe-wrapper + figcaption {
            width: 560px;
        }
    }

    li {
        margin-bottom: 15px;
        p {
            text-indent: 0px;
        }
        blockquote {
            margin: 0;
            p {
                line-height: 1.5em;
                margin-bottom: 0;
            }
        }
    }
    ul {
        ul {
            padding-inline-start: 30px;
        }       
    }
    ol {
        ol {
            padding-inline-start: 30px;
        }       
    }
    table {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        td, th {
        border: 1px solid #AAAAAA;
        padding: 5px;
        line-height: 1.2;
        vertical-align: top;
        min-width: 85px;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
        th {
            padding-left: 5px;
            background: rgb(131, 131, 131);
            font-size: 15px;
            color: white;
        }
        p {
            text-indent: 0px;
        }
    }    

    .footnotes p {
        line-height: 1;
    }

    .bibliography {
        p {
            text-indent: 0px;   
            line-height: 1;
            margin-top: 15px;
        }
    }
}