/* Compact view */
.expandedViewOnly {
	display: inline;
}

#search {
	display: inline;
}
@media only screen and (max-width: 1290px) {
	.expandedViewOnly {
		display: none;
	}

	#footer .logos {
		display: none;
	}

	#header .title {
		display: block;
		padding: 0.8rem 0 0;
		font-size: 1rem;
	}

	#header .tagline {
		display: block;
		margin: 0;
		padding: 0.10rem 0 0 0.1rem;
		font-size: 0.5rem;
	}

	#search {
		display: block;
		margin: 0.8rem;
	}
}
@media only screen and (max-width: 500px) {
	#header .tagline,
	#header .title {
		display: none;
	}

	#header .compactTitle {
		display: block;
		font-size:2rem;
		width:5rem;

		margin:.6rem 0 0 0;
	}
		#header #search {
		display: block;
		margin:.5rem 1rem 0 0;
	}
}
