#content-view {
    padding-top: 10px;
    min-height: 60vh;

    margin: 40px 10% 40px 10%;
    max-width: 960px;

    line-height: 1.5;

    @include md {
        margin: 80px 20% 80px 20%;
    }

    .video-iframe-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


    .loading {
        margin-left: 40%;
    }
    
    .homepage-grid {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-right: 20px;        
        padding-bottom: 20px;
    }

    .homepage-header {
        h2 {
            margin-top: 0px;
            text-align: center;
        }
        .intro {
            margin: 10px;
        }
    }


    .homepage-grid-item {
        margin: 10px;
        width: fit-content;
    }

    .homepage-card-image{
        width: 300px;
        height: 250px;
        @include lg {
            width: 350px;
            height: 375px;
        }
        @include xl {
            width: 450px;
            height: 525px;
        }
    }

    img {
        @include md {
            width: auto;
        }  
        max-width: 100%;
        display: block;
        margin: 10px auto 10px auto;
    }



     img[alt^="extra-small"] {
         max-width: $image-xs;
     }
     img[alt^="small"] {
         max-width: $image-sm;
     }
     img[alt^="medium"] {
         max-width: $image-md;
     }
     img[alt^="large"] {
         max-width: $image-lg;
     }
     img[alt^="extra-large"] {
         max-width: $image-xl;
     }

    p {
        padding-bottom: 1em;
        line-height: 1em;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    br {
        padding-bottom: 1em;
    }

    a {
        word-wrap:break-word;
    }
    
    h1 {
        text-align: center;
        font-size: 2.5em;
        line-height: 1.5em;
    }
    h2 {
        font-size: 1.6em;
        margin-top: 40px;
        line-height: 1.7em;
    }
    h3 {
        font-size: 1.1em;
        line-height: 1em;
        margin-top: 1.5em;

    }
    h4 {
        text-align: center;
    }



    blockquote {
        p {
            line-height: 1.1;
        }
    }

    ul {
        ul {
            padding-inline-start: 30px;
        }       
    }
    ol {
        ol {
            padding-inline-start: 30px;
        }       
    }
    table {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        td, th {
        border: 1px solid #AAAAAA;
        padding: 5px;
        line-height: 1.2;
        text-indent: 0px;
        vertical-align: top;
        min-width: 85px;
        }
        tr:nth-child(even){background-color: #f2f2f2;}
        th {
            padding-left: 5px;
            background: rgb(131, 131, 131);
            font-size: 15px;
            color: white;
        }
    }    

}