#diplomatic {

	#header {
		margin: 0;
		color: white;
		height: $header-height;
		background-color: black;
		font-family: 'Oswald', sans-serif;
		grid-area: header;
		padding: 0.5rem 0 0 1rem;
		white-space: nowrap;
		@include sm {
			padding: 0.25rem 0 0.25rem 1rem;
			height: $sm-header-height;
		}
		@include md {
			height: $md-header-height
		}

		.title {
			font-size: 12pt;
			margin-top: 0.25rem;
			.home-link {
				color: white;
				text-decoration: none;	
			}
			@include sm {
				font-size: 18pt;
			}
			@include md {
				margin-top: 0;
				font-size: 24pt;
			}
		}

		.tagline {
			font-size: 0.7rem;
			padding: 0.5rem 0 0 0;
			@include md {
				font-size: 0.8rem;
			}

		}

		.compactTitle {
			font-weight: 700;
			display: none;
		}

		.expandedViewOnly {
			@include lg {
				margin-right: 50px;
				display: inline;
				a {
					margin-right: 10px;
				}
			}
		}

		#search {

			@include md {
				text-align: right;
				margin-top: 10px;
				display: block;
			}
			@include lg {
				margin-top: 0;
				display: inline;
			}
		}
	
		#navigation {
			background-color: blue;
			height: 4.4rem;
			.fixed-position {
				width: 40rem;
					top: 0;
				right: 0;
				position: Fixed;
			}
		}
	}

	#footer {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include md {
			justify-content: space-between;
		}
		align-items: center;
		align-content: space-around;
		color: white;
		height: $footer-height;
		background-color: #656565;
		font-family: 'OpenSans', sans-serif;
		grid-area: header;
		padding: 0.4rem 0 0.4rem 2rem;
		white-space: nowrap;
		
		bottom: 0;	
		.logos {
			display: flex;
			align-items: center;
			margin-right: 30px;
			img {
				width: 150px;
				@include md {
					width: 200px;
				}
				margin-right: 1rem;
			}
		}	
		.footer-links {
			margin-right: 2rem;
			font-size: 0.8rem;
			a {
				color: white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}

			}
		}
		.copyright {
			font-weight: 300;
			font-size: 0.8rem;
			margin-right: 2rem;
		}
	}
}

#diplomatic.sticky {
	#header.sticky {
		position: sticky;
		top: 0;
		z-index: 999;
	}
}
#diplomatic.fixed {
	background: white;
	position: fixed;
	width: 100vw;
	height: calc(100vh - $chrome-height);
	@include sm {
		height: calc(100vh - $sm-chrome-height);
	}
	@include md {
		height: calc(100vh - $md-chrome-height);
	}
	font-family: 'OpenSans', sans-serif;
	font-size: 0.9rem;

	#header.fixed {
		z-index: $z-index-ui;
		position: fixed;	
		width: 100vw;
	}

	#footer.fixed {
		z-index: 9000;
		width: 100vw;
	}

	#content {
		line-height: 1.2rem;
		margin-top: 5rem;
		@include sm {
			margin-top: 7rem;
		}
	}
	overflow: hidden;	

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
