#diplomatic {

    /* Compact view */
    .expandedViewOnly {
        display: inline;
    }

    #search {
        display: inline;
    }

    @media only screen and (max-width: 1290px) {
        .expandedViewOnly {
            display: none;
        }

        #search {
            display: block;
            margin: 0.8rem;
        }

        #header {
            .title {
                display: block;
                padding: 0.8rem 0 0;
                font-size: 1rem;
            }
    
            .tagline {
                display: block;
                margin: 0;
                padding: 0.10rem 0 0 0.1rem;
                font-size: 0.5rem;
            }
        }

        #footer {
            .logos {
                display: none;
            }
        }
    }
    @media only screen and (max-width: 500px) {

        #header {
            .tagline,
            .title {
                display: none;
            }
    
            .compactTitle {
                display: block;
                font-size:2rem;
                width:5rem;
    
                margin:.6rem 0 0 0;
            }
            
            #search {
                display: block;
                margin:.5rem 1rem 0 0;
            }    
        }
    }

}

