#diplomatic {

	#header {
		margin: 0;
		color: white;
		height: $header-height;
		background-color: black;
		font-family: 'Oswald', sans-serif;
		grid-area: header;
		padding: 0.5rem 0 0 1rem;
		white-space: nowrap;

		.title {
			font-size: 24pt;

			.home-link {
				color: white;
				text-decoration: none;	
			}
		}

		.tagline {
			font-size: 0.8rem;
			padding: 0.5rem 0 0 0;	
		}

		.compactTitle {
			font-weight: 700;
			display: none;
		}

		.expandedViewOnly {
			margin-right: 50px;
			display: inline;
			a {
				margin-right: 10px;
			}
		}

		#search {
			display: inline;
		}
	
		#navigation {
			background-color: blue;
			height: 4.4rem;
			.fixed-position {
				width: 40rem;
					top: 0;
				right: 0;
				position: Fixed;
			}
		}
	}

	#footer {
		margin: 0;
		// width: 100%;
		// position: fixed;
		color: white;
		height: $footer-height;
		background-color: #656565;
		font-family: 'OpenSans', sans-serif;
		grid-area: header;
		padding: 0.4rem 0 0 1rem;
		white-space: nowrap;
		
		bottom: 0;	
		.logos {
			margin-right: 20px;
			float: right;
		}	
		
		.copyright {
			float: left;
			font-weight: 300;
			font-size: 0.8rem;
			padding: 0.8rem 0 0 0.3rem;
		}
	}
}

#diplomatic.fixed {
	background: white;
	position: fixed;
	width: 100vw;
	height: calc(100vh - $chrome-height);
	font-family: 'OpenSans', sans-serif;
	font-size: 0.9rem;

	#header.fixed {
		z-index: $z-index-ui;
		position: fixed;	
		width: 100vw;
	}

	#footer.fixed {
		z-index: 9000;
		width: 100vw;
	}

	#content {
		line-height: 1.2rem;
		margin-top: 5rem;	
	}
	overflow: hidden;	

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
