#entry-list-view {

    margin: 80px;
    max-width: 500px;

    .entry {
        margin-top: 10px;
    }

    .tag-nav {
        margin-top: 30px;
    }

    .tag-nav-item {
        margin: 3px;
    }
}