#entry-list-view {
    position: relative;
    margin: 40px 10% 40px 10%;

    @include md {
        overflow: auto;
        height: 900px;
        margin: 40px 2% 40px 2%;
    }
    @include lg {
        margin: 40px 2% 40px 5%;
    }

    h3 {
        font-size: 2rem;
        @include md {
            font-size: 2.25rem;;
        }
    }

    .header {
        @include md {
            width: 62%;
            margin-left: 38%;
            max-width: 900px;
            p {
                padding-right: 10px;
            }
        }
        @include lg {
            width: 70%;
            margin-left: 30%;
        }
    }
    .filter-bar {
        @include md {
            width: 33%;
            background-color: $dark-cream;
            position: fixed;
            top: 150px;
            padding: 10px;
            border-radius: 0.3rem;
            border: 1px solid $maroon;
            max-height: 80%;
            overflow: auto;
        }
        @include lg {
            width: 25%;
        }
    }

    .entries {
        @include md {
            width: 62%;
            margin-left: 38%;
            margin-bottom: 40px;
            max-width: 900px;
        }
        @include lg {
            width: 70%;
            margin-left: 30%;
        }
    }

    .filterBy {
        @include first-child {
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 10px;
            color: black;
            @include md {
                color: white
            }
        }
    }
    .entry {
        margin: 10px 13px 1px 2px;

        .entry-chips {
            margin-top: 10px;
        }
        .entry-categories {
            display: flex;
            flex-wrap: wrap;
            p {
                padding-top: 8px;
                padding-right: 8px;
            }
        }
        .detail-container {
              display: flex;
              flex-direction:column;
              width:100%;
              padding:0;
              margin-right: 30px;
        }
        .detail-header {
            @include xs {
                display:flex;
                margin: 8px 0px;
                text-align:center;
            }

        }
        .detail-row {
            display:flex;
            flex-wrap: wrap;
            margin: 8px 0px;
        }
        .row-divider {
            width:100%;
            height:2px;
            background-color:gainsboro;
        }
        .chip-column {
            display: flex;
            align-items: center;
            @include sm {
                width: 35%;
            }
              
        }
        .reference-column {
              display: flex;
              align-items: center;
              margin: 10px 0 10px 10px;
              @include sm {
                width: 65%;
                margin: 0;
              }
        }
        .colapse-button {
              float:right;
              transform:rotate(180deg)
        }
    }

    .sort-container {
      display:flex;
      margin-bottom:12px;

            .sort-label {
                  display:inline;
                  margin:16px 10px 0px 0px;
            }
            .sort-radio {
                  color: #3f51b5;
            }
      
      }


    .tag-nav {
        margin-top: 30px;
    }

    .tag-nav-item {
        margin: 3px;
    }
}