.navigationComponent {

    min-width: 30rem;
    position: fixed;
    height: 2rem;
    white-space: nowrap;
    z-index: 900;
    white-space: nowrap;
    padding: 0.3rem 1rem 1rem 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imageViewComponent .navigationComponent {
	color: white;
	margin: 0 0 0 .2rem;
}

.imageViewComponent.right {
	z-index: 9000;
}

.transcriptionViewComponent .navigationComponent {
	background-color: #ffffff;
}

.breadcrumbs {
	padding: 0.8rem 0 0;
	float: left;
}

.breadcrumbs .folioName {
	font-weight: 900;
}
/* The dropdown container */
.dropdown {
	overflow: hidden;
	float: right;
}
/* Dropdown button */
.dropdown .dropbtn {
	float: right;
	height: 2.5rem;
	position: relative;
	top: 0.1rem;
	width: 12rem;
	font-size: 0.8rem;
	font-weight: 900;
	outline: none;
	padding: 0;
	background-color: inherit;
	font-family: inherit;
	margin: 0 0 0 1rem;
	border: 0;
	text-align: center;
	color: black;
}

.imageViewComponent .dropbtn {
	color: white;
}

.dropbtn:hover {
	background-color: #9E9E9E;
	color: black;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
	margin: 0 0 0 1rem;
	width: 12rem;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content span {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content span:hover {
	background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
