.navigationComponent {
      position: fixed;
      z-index:800;
      height:48px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
      user-select: none;
      padding:4px;
  

}

.navigationRow{
      display:flex;
      justify-content:space-between;
      padding:12px 10px 12px 10px;
      
      
}

.helpIcon {
      margin-top:6px;
      margin-right:16px
}

.dropdownV2 {
      width:150px;
      margin-right:10px;
}

.imageViewComponent .navigationComponent {
	background-color: rgba(0,0,0,1);
	color: #ffffff;
}

.transcriptionViewComponent .navigationComponent {
	background-color: rgba(255,255,255,1);;
	color: #000000;
}

.breadcrumbs {
	overflow:hidden;
}

.breadcrumbs .folioName {
  display:inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  text-decoration:underline;
}

.closeX { 
      float: right;
      padding: 3px;
      font-style: bold;
}

.helpContainer {
      padding:12px;
      width:235px;
      height:375px;
}

.searchHelpContainer {
      padding:5px;
      width:335px;
      height:250px;
}

.helpHeader{
      text-align:center;
}





